<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <h1 style="font-size:60px;">MakersBnB</h1>
    <title></title>
  </head>
  <body style= "background: black;color:white;font-family:courier;">



    <form class="" action="/spaces" method="post">
      <label for="fname">Name:</label><br>
      <input type="text" name="name">
      <p>
      <label for="fname">Description:</label><br>
      <input type="text" name="description">
      <p>
      <label for="fname">Price:</label><br>
      <input type="text" name="price">
      <p>
      <button type="submit"> List it!</button>
    </form>
  </body>
</html>
